    
         <nav class="navbar navbar-expand-md navbar-dark">
            <a class="navbar-brand" href="calendar.html">Ultimate Organizer</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
              <span class="navbar-toggler-icon"></span>
            </button>

              <!-- <div class="#"> Log In/Register</div> -->
              
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="calendar.html">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="login.html">Log In</a>
                      <a class="nav-link" href="createaccount.html">Register</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Organize This!
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="calendar.html">Calendar</a>
                        <a class="dropdown-item" href="todolist.html">To Do List</a>
                        <a class="dropdown-item" href="grocery.html">Grocery List</a>
                        <div class="dropdown-divider"></div>
                        <!-- <a class="dropdown-item" href="#">Something else here</a> -->
                      </div>
                    </li>
                  </ul>
                  <form class="searchbutton">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Enter</button>
                  </form>
                </div>
              </nav>   
        </nav>



 <script src="js/modal.js"></script>


        <!-- Footer -->
        <footer class="footer">

        <!-- Copyright -->
            <div class="footer-copyright text-center py-3">© 2018 Copyright
                <a href="https://mdbootstrap.com/bootstrap-tutorial/"></a>
            </div>
      
        </footer>
        <!-- Footer -->



<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/"></script>

   <div><a href="javascript:openmodal();">Add an Event</a></div>
   <div id="event_edit_container" class="eventCreator">
      <form>
        <table>
          <tr>
          <th style="text-align: left;">Date:</th>
          <td style="text-align: left;"><input type="text" id="datepicker" name="datepicker"></td>
          </tr>
          <tr>
          <th style="text-align: left:">Type:</th>
          <td style="text-align: left;">
            <select id="type" name="type">
            <option value=0 SELECTED>-event type-</option>
            <option value=1>Birthday</option>
            <option value=2>Appointment</option>
            <option value=3>Hobby</option>
            <option value=4>Social</option>
            <option value=5>School Work</option>
            </select>
          </td>
          </tr>
          <tr>
          <th style="text-align: left:">Name:</th>
          <td style="text-align: left;"><input type="text" id="name" name="name"></td>
          </tr>
          <tr>
          <th style="text-align: left:">Info:</th>
          <td style="text-align: left;"><input type="text" id="info" name="info"></td>
          </tr>
          <th style="text-align: left:">Location:</th>
          <td style="text-align: left;"><input type="text" id="location" name="location"></td>
          </tr>
          </table>
      </form>
   </div>

  </div>
</div>

