/* .list-group-item {
  line-height: 2.5;
}

/* Nav Bar */
.navbar {
  width: 100%;
  text-align: center;
  padding: 70px 25px;
  background: rgb(26, 188, 156);
}

/* .searchbutton {
  color: blue
} */

.ui-datepicker th {
  width: 500px;
  margin: auto;
  padding-left: 10px;
  text-align: center;
  font-size: 20px;
  color: navy
}

.ui-datepicker tr {
  width: 500px;
  margin: auto;
  padding-left: 10px;
  text-align: center;
  
}

.ui-datepicker td {
  padding-top: 100px;
}

.ui-datepicker,
.ui-datepicker table,
.ui-datepicker tr,
.ui-datepicker td,
.ui-datepicker th {
    margin: 0 auto;
    /* padding: 0;
    border: none;
    border-spacing: 0; */
  
}

.calendar {
  height: 3000px;
  margin: auto;
  display: flex;
  /* position: absolute;  */
 }  


 .ui-datepicker {
  display: none;
  width: 100%;
  /* padding: 35px; */
  cursor: default;

  text-transform: uppercase;
  font-family: Tahoma;
  font-size: 20px;


  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  -webkit-box-shadow: 0px 1px 1px rgba(255,255,255, .1), inset 0px 1px 1px rgb(0,0,0);
  -moz-box-shadow: 0px 1px 1px rgba(255,255,255, .1), inset 0px 1px 1px rgb(0,0,0);
  box-shadow: 0px 1px 1px rgba(255,255,255, .1), inset 0px 1px 1px rgb(0,0,0);
}

.ui-datepicker-header {
  position: relative;
  padding-bottom: 10px;
  border-bottom: 1px solid #d6d6d6;
  background-color: rgb(221, 221, 221);
  margin: 0px;
  padding: 37px 0px; 
  text-align: center; 
  color: navy;
}  
 


.ui-datepicker-month {
  padding-right: 10px; 
  color: rgb(26, 188, 156);
  
}   
 
.ui-datepicker-year {
  padding-left: 8px;
  color: navy; 
 } 

 
.ui-datepicker-month:before {
  display: block;
  position: absolute;
  top: 5px;
  right: 0;
  width: 5px;
  height: 5px;
  content: '';

  background: #a5cd4e;
  background: -moz-linear-gradient(top, #a5cd4e 0%, #6b8f1a 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a5cd4e), color-stop(100%,#6b8f1a));
  background: -webkit-linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);
  background: -o-linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);
  background: -ms-linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);
  background: linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; 
}

.ui-datepicker-prev,
.ui-datepicker-next {
    position: absolute;
    top: 6px;
    padding: 5px;
    cursor: pointer;
   
}
 
.ui-datepicker-prev {
    left: 0;
    padding-left: 292px;
    padding-top: 32px;
}
 
.ui-datepicker-next {  
    right: 0;
    padding-right: 273px;
    padding-top: 32px;
}
 
.ui-datepicker-prev span,
.ui-datepicker-next span{
    display: block;
    /* width: 5px;
    height: 10px; */
    /* text-indent: -9999px;  */

     /* background-image: url(../images/arrow.png);  */
   
}
/* 
.ui-datepicker-prev span { background-position: 0px 0px; }
 
.ui-datepicker-next span { background-position: -5px 0px; }
 
.ui-datepicker-prev-hover span { background-position: 0px -10px; }
 
.ui-datepicker-next-hover span { background-position: -5px -10px; } */ 


.ui-datepicker-calendar th {
  padding-top: 15px;
  text-align: center;
  font-weight: normal;
  color:  rgb(26, 188, 156);
}
 


.ui-datepicker-calendar .ui-state-active {
  color: rgb(26, 188, 156);
  border: rgb(26, 188, 156);
}

.ui-datepicker-other-month .ui-state-default { color: #565656; }       

#modalLogin{
  position: absolute; top:2%; left:25%;
  width: 30%;
  margin: 15% auto;
  visibility: visible;
}






 
